:root {
    --background: #000;

    --text-color: #ECEDEE;

    --default-400: #71717a;

    --content1: #18181b;
    --content4: #52525b;

    --primary: #006FEE;
    --warning: #f5a524;
    --success: #17c964;
    --danger: #f31260;

    --border-radius: 15px;
}